.promo-container{
	display: flex;
	flex-direction: column;
	gap: 40px;
	justify-content: center; 
	align-items: center; 
}
.promo-container .promo-tile {
	position: relative;
	width: 343px;
	height: 160px;
	border-radius: 26px;
	background: #fff;
	padding: 19px 10px 10px 17px;
	box-sizing: border-box;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: left;
	overflow: visible;
	z-index: 1;
}
.promo-content {
	display: flex;
	flex-direction: column;
	gap: 0;
	flex: 1;
}
.promo-container .promo-content .promo-title {
	font-family: Inter;
	font-weight: 600;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0%;
	vertical-align: bottom;
	margin: 0;
	color: #252525;
	margin-bottom: 13px;
}
.promo-container .promo-content .highlight {
	color: #44539D;
}
.promo-container .promo-content .promo-text {
	font-family: Inter;
	font-weight: 300;
	font-size: 12px;
	line-height: 100%;
	letter-spacing: 0%;
	vertical-align: bottom;
	margin: 0;
	color: #808080;
	margin-bottom: 6px;
}
.promo-container .promo-content .promo-text2 {
	font-family: Inter;
	font-weight: 500;
	font-size: 21px;
	line-height: 100%;
	letter-spacing: 0%;
	vertical-align: bottom;
	margin: 0;
	color: #AB1A29;
	display: flex;
	gap: 64px;
}
.promo-container .promo-content .promo-button {
	width: 106px;
	height: 31px;
	padding: 7px 14px ;
	border-radius: 6px;
	border: none;
	background: var(--JYS-, #BD1C22);
	font-family: Inter;
	font-size: 15px;
	font-weight: 300;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: left;
	z-index: 1;
	position: relative;
	margin-top: 25px;
	gap: 23px;
}
.promo-container .promo-content .promo-button:hover {
  background-color: #686D67;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.promo-container .promo-content .promo-button .button-arrow {
	width: 16px;
	height: 16px;
}
.promo-container .promo-img {
	position: absolute;
	top: 36px;
	left: 226px; 
	width: 107px;
	height: 107px;
	z-index: 9999 !important; 
	pointer-events: none
}
