body {
	background-color: #eee;
}
.promo-container{
	display: flex;
	flex-direction: column;
	gap: 40px;
	justify-content: center; 
	align-items: center; 
}
.promo-container .promo-tile {
	position: relative;
	width: 343px;
	height: 160px;
	border-radius: 26px;
	background: #fff;
	padding: 19px 10px 10px 17px;
	box-sizing: border-box;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: left;
	overflow: visible;
	z-index: 1;
}
.promo-content {
	display: flex;
	flex-direction: column;
	gap: 0;
	flex: 1;
}
.promo-container .promo-content .promo-title {
	font-family: Inter;
	font-weight: 600;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0%;
	vertical-align: bottom;
	margin: 0;
	color: #252525;
	margin-bottom: 13px;
}
.promo-container .promo-content .highlight {
	color: #44539D;
}
.promo-container .promo-content .promo-text {
	font-family: Inter;
	font-weight: 300;
	font-size: 12px;
	line-height: 100%;
	letter-spacing: 0%;
	vertical-align: bottom;
	margin: 0;
	color: #808080;
	margin-bottom: 6px;
}
.promo-container .promo-content .promo-text2 {
	font-family: Inter;
	font-weight: 500;
	font-size: 21px;
	line-height: 100%;
	letter-spacing: 0%;
	vertical-align: bottom;
	margin: 0;
	color: #AB1A29;
	display: flex;
	gap: 64px;
}
.promo-container .promo-content .promo-button {
	width: 106px;
	height: 31px;
	padding: 7px 14px ;
	border-radius: 6px;
	border: none;
	background: var(--JYS-, #BD1C22);
	font-family: Inter;
	font-size: 15px;
	font-weight: 300;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: left;
	z-index: 1;
	position: relative;
	margin-top: 25px;
	gap: 23px;
}
.promo-container .promo-content .promo-button:hover {
  background-color: #686D67;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.promo-container .promo-content .promo-button .button-arrow {
	width: 16px;
	height: 16px;
}
.promo-container .promo-img {
	position: absolute;
	top: 36px;
	left: 226px; 
	width: 107px;
	height: 107px;
	z-index: 9999 !important; 
	pointer-events: none
}
.card {
	width: 343px;
	height: 187px;
	border-radius: 26px;
	padding: 20px;
	left: 23px;
	background: linear-gradient(180deg, #F67669 0%, #CA272C 100%);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: white;
}

.card-body {
	display: flex;
	align-items: center;
}

.icon {
	width: 98px;
	height: 120px;
	top: 2px;
	left: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

.icon img {
	width: 98px;
	height: 120px;
	object-fit: contain;
	margin-top: 50px;
}

.text-content {
	flex: 1;
	margin-left: 12px;
	margin-top: -10px;
	/* 上移让文字更贴合图像顶端 */
}

.text-content .title {
	width: 72;
	height: 29;
	top: 32px;
	left: 146px;
}

.title {
	font-family: Inter;
	font-weight: 700px;
	font-size: 24px;
	line-height: 100%;
	letter-spacing: 0%;
	margin-top: 5px;
}

.text-content .desc1 {
	width: 204px;
	height: 15px;
	top: 73px;
	left: 146px;

}

.desc1 {
	font-family: Inter;
	font-weight: 300;
	font-size: 12px;
	line-height: 100%;
	letter-spacing: 0%;

}

.text-content .desc2 {
	width: 169;
	height: 32;
	top: 100px;
	left: 146px;

}

.desc2 {
	font-family: Inter;
	font-weight: 300;
	font-size: 13px;
	line-height: 100%;
	letter-spacing: 0%;

}

.button-container {
	display: flex;
	justify-content: center;
	margin-top: -20px;
	margin-left: 50px;
}

.join-btn {
	padding: 8px 20px;
	background-color: white;
	color: #B1122E;
	font-weight: bold;
	border: none;
	border-radius: 22px;
	left: 1px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	gap: 15px;
}

.button-container .join-btn span {
	font-family: Noto Sans SC;
	font-weight: 700;
	font-size: 17px;
	line-height: 100%;
	letter-spacing: 0%;
}

.join-btn:hover {
	background-color: #28282B;
	color: #fff;
}

.arrow-btn {
	width: 11px;
	height: 15px;
	font-family: Noto Sans SC;
	font-weight: 700px;
	transform: rotate(180deg);
}